<div class="main-container">
  <header>
    <h1>SmartSpend AI</h1>
    <p>Твой финансовый помощник на базе FastAPI</p>
  </header>

  <section class="input-section">
    <input
      [ngModel]="inputText()"
      (ngModelChange)="inputText.set($event)"
      placeholder="Напр: 300 сомов на такси до центра"
      (keyup.enter)="submit()">

    <button (click)="submit()" [disabled]="!inputText()">
      Анализировать
    </button>
  </section>

  <hr>

  <section class="history-section">
    <h3>История транзакций:</h3>

    @for (item of finance.transactions(); track item.id) {
      <div class="transaction-card">
        <div class="card-info">
          <span class="amount">{{ item.amount }} {{ item.currency || 'KGS' }}</span>
          <span class="category">{{ item.category }}</span>
        </div>
        <p class="raw-text">"{{ item.text }}"</p>
        <small class="date">{{ item.date | date:'short' }}</small>
      </div>
    } @empty {
      <p>Пока нет записей. Попробуй что-нибудь добавить!</p>
    }
  </section>
</div>
